@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 16%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --success: 120 100% 25.1%;
        --success-foreground: 0 0% 98%;

        --warning: 40 100% 50.2%;
        --warning-foreground: 0 0% 98%;

        --error: 0 84.2% 60.2%;
        --error-foreground: 0 0% 98%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 7%;
        --foreground: 0 0% 96%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --warning: 40 100% 50.2%;
        --warning-foreground: 0 0% 98%;

        --error: 0 62.8% 30.6%;
        --error-foreground: 0 0% 98%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0 26%;
        --input: 0 0 26%;
        --ring: 240 4.9% 83.9%;

        --success-50: 98 76% 5%;
        --success-100: 101 73% 10%;
        --success-200: 100 75% 20%;
        --success-300: 100 74% 30%;
        --success-400: 100 74% 40%;
        --success-500: 100 74% 50%;
        --success-600: 100 74% 60%;
        --success-700: 100 74% 70%;
        --success-800: 100 75% 80%;
        --success-900: 101 73% 90%;
        --success-950: 101 76% 95%;

        --info: 207 100% 50%;

        --background-container: 0 0 12%;
        --background-container-secondary: 0 0 30%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply box-border bg-background text-foreground;
    }
}

@layer utilities {
    .min-h-screen {
        min-height: 100vh;
        /* Fallback */
        min-height: 100dvh;
    }

    .h-screen {
        height: 100vh;
        /* Fallback */
        height: 100dvh;
    }
}